#templateImplementationWarning {
	background-color: #CC3333;
	border: 1px solid black;
	border-radius: 5px;
	bottom: 10px;
	color: white;
	display: none;
	left: 10px;
	opacity: .85;
	padding: 10px;
	position: fixed;
	width: 248px;
}

#templateImplementationWarning.show {
	display: inline-block;
}